[user]
	email = yhy242989105@hotmail.com
	name = FrozenArcher
[http]
	proxy = http://127.0.0.1:7897
[https]
	proxy = http://127.0.0.1:7897
[core]
	editor = nvim
[alias]
	co = checkout
	br = branch
	c = commit
	s = status
	a = add
	pl = pull
	ps = push
[init]
	defaultBranch = main
[pull]
	rebase = true
[credential]
	helper = store
